{% extends 'matLab/base.html' %}
{% load i18n %}

{% block content %}
	<h1>{% trans "Détail renouvellement licence" %}</h1>
	<p>{% trans "Votre demande de renouvellement a bien été prise en compte." %}</p>
	<p>{% trans "Un e-mail récapitulatif vous a été envoyé." %}</p>
	<ul>
	    <li>{% trans "Prénom" %} : {{licence.firstname}} </li>
	    <li>{% trans "Nom" %} : {{licence.name}}</li>
	    <li>{% trans "Adresse mail" %} : {{licence.email}}</li>
	    <li>{% trans "Téléphone" %} : {{licence.telephone}}</li>
	    <li>{% trans "Bureau" %} : {{licence.bureau}}</li>
	    <li>{% trans "Bâtiment" %} : {{licence.batiment}}</li>
	    <li>{% trans "Version de MatLab" %} : {{licence.matlabRelease}}</li>
	    <li>{% trans "Système" %} : {{licence.operatingSystem}}</li>
	    <li>Host ID : {{licence.hostID}}</li>
  	</ul>
{% endblock %}
