{% extends 'matLab/base.html' %}
{% load i18n %}

{% block content %}
	<h1>{% trans "Détail renouvellement licence" %}</h1>
	<ul>
	    <li>{% trans "Prénom" %} : {{licence.firstname}} </li>
	    <li>{% trans "Nom" %} : {{licence.name}}</li>
	    <li>{% trans "Adresse mail" %} Email : {{licence.email}}</li>
	    <li>{% trans "Téléphone" %} Telephone : {{licence.telephone}}</li>
	    <li>{% trans "Bureau" %} Bureau : {{licence.bureau}}</li>
	    <li>{% trans "Bâtiment" %} Batiment : {{licence.batiment}}</li>
	    <li>{% trans "Version de MatLab" %} Matlab Realease : {{licence.matlabRelease}}</li>
	    <li>{% trans "Système" %} OS : {{licence.operatingSystem}}</li>
	    <li>HostID : {{licence.hostID}}</li>
  	</ul>
{% endblock %}
